<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="author" content="<%= Afo::Settings[:app_author] || "" %>">
  <meta name="description" content="<%= Afo::Settings[:app_description] || "" %>">
  <title><%= Afo::Settings[:app_title] || "" + ' - ' + Afo::Settings[:app_subtitle] || "" %></title>
  <%= stylesheet_tag 'afo' %>
  <%= javascript_tag 'afo' %>
</head>
<body>
  <div class="container">
    <div class="row">
      <h1><%= Afo::Settings[:app_title] || "" %></h1>
      <h3><%= Afo::Settings[:app_subtitle] || "" %></h3>
    </div>
    <%= yield %>

  </div>
</body>
</html>