<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="author" content="<%= Afo::Settings[:app_author] || "" %>">
  <meta name="description" content="<%= Afo::Settings[:app_description] || "" %>">
  <title><%= Afo::Settings[:app_title] || "" + ' - ' + Afo::Settings[:app_subtitle] || "" %></title>
  <!-- <link rel="stylesheet" type="text/css" href="/assets/afo.css"> -->
  <!-- <script type="text/javascript" src="/assets/afo.js"></script> -->
  <%= stylesheet_tag 'afo' %>
  <%= javascript_tag 'afo-initialize' %>
  <script>
   <% ids = Afo::Comic.all.map(&:id) %>
    angular.module('Afo').constant('Constants', { comicCount: <%= ids.count %>,
                                               firstId: <%= ids[0] || -1 %>,
                                               lastId: <%= ids[-1] || -1 %>,
                                               ids: <%= ids %> });
  </script>
  <%= javascript_tag 'afo-components' %>
</head>
<body>
  <div class="container">
    <div class="row">
      <h1><%= Afo::Settings[:app_title] || "" %></h1>
      <h3><%= Afo::Settings[:app_subtitle] || "" %></h3>
    </div>
    <%= yield %>

  </div>
</body>
</html>